extends layout

mixin visualCube()
  img(src="https://www.speedsolving.com/wiki/extensions/algdb/vcube/visualcube.php?fmt=png&bg=t&size=160&pzl=3&sch=wddddd&stage=ll&view=plan&case=FRU'R'U'RUR'F'")

mixin roofpig(config)
  - var comps = [];
  - for(var key in config) {
  -   var val = config[key];
  -   comps.push(key + '=' + val);
  - }
  - configString = comps.join('|');
  div.col-sm-4.col-md-3.col-lg-2
    .roofpig(data-config=configString)

block content
  script.
    ROOFPIG_CONF_F5 = "solved=U- | colors=U:g | hover=2 | speed = 300"
  
  .container-fluid
    ._slim-content
      h1= pageTitle
      
      .row
        +roofpig({
            alg: "F R U R' U' F'",
            colored: "U Uf Ub Ul Ur Ufr Ufl Ubr Ubl",
            flags: "showalg",
            base: 'F5'
          })
        
        +roofpig({
            alg: "F U R U' R' F'",
            colored: "U Uf Ub Ul Ur Ufr Ufl Ubr Ubl",
            flags: "showalg",
            base: 'F5'
          })
        
        +roofpig({
            alg: "F U R U' R' F' y F R U R' U' F'",
            colored: "U Uf Ub Ul Ur Ufr Ufl Ubr Ubl",
            flags: "showalg",
            base: 'F5'
          })
        
        +roofpig({
            alg: "F R U R' U' F' y' F U R U' R' F'",
            colored: "U Uf Ub Ul Ur Ufr Ufl Ubr Ubl",
            flags: "showalg",
            base: 'F5'
          })
      
block scripts
  script(src='/javascripts/roofpig_and_three.min.js')