extends layout

block content
  .container-fluid
    div.slim-content
      h1= siteTitle
      if user
        p Welcome 
          b 
            i #{user.name}
          | !
      else
        p Welcome to #{siteTitle}!
      
      p
        Aliquam mattis lobortis dolor, vel blandit libero aliquet at. Donec sodales quis quam at vulputate. Phasellus pulvinar justo vitae iaculis luctus. Phasellus interdum lacus vitae lacus porta lacinia. Aenean condimentum condimentum aliquam. Suspendisse efficitur odio ut leo hendrerit, et accumsan sem faucibus. Quisque blandit dui ac blandit ornare. Aenean feugiat sit amet libero eleifend lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare diam at vehicula semper. 
        
      p
        Duis justo ligula, varius in massa id, vestibulum posuere tellus. Vestibulum at augue in massa semper vestibulum tempor id nulla. Nunc pretium iaculis consequat. Donec tortor sapien, facilisis sit amet elit quis, malesuada malesuada neque. Phasellus non elementum dolor. Proin ut dapibus augue. Fusce dictum ac ipsum vel efficitur. Duis lobortis ligula quis libero cursus, at cursus mauris sollicitudin. Vestibulum at diam suscipit libero venenatis ultricies. Mauris eleifend, urna vitae tempus vehicula, nisi massa fringilla nibh, quis molestie lorem mi non nisl. Pellentesque consequat felis eu velit vulputate placerat. Cras blandit laoreet felis eget pharetra. Praesent cursus felis nec pellentesque eleifend. Maecenas elit erat, blandit sit amet viverra vel, cursus blandit risus. Maecenas eget sagittis massa, pharetra molestie ante. Aenean a porta diam.        

