- title = pageTitle ? siteTitle + ' - ' + pageTitle : siteTitle
doctype html
html
  head
    title= title
    
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // the above 2 meta tags *must* come first in the head; any other head content must come *after* these tags
    
    link(rel="icon", href="/favicon.ico")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav#topnav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#topnav_collapsible', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')= siteTitle
        // Collect the nav links, forms, and other content for toggling
        #topnav_collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            each item in [{name: 'Timer', path:'/timer'}, {name:'Algorithms', path:'/algorithms'}]
              - var active = s.startsWith(path, item.path)
              li(class=active ? 'active' : '')
                a(href=item.path)
                  | #{item.name}
                  if active
                    span.sr-only(current)
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/logout') Log out
            else
              li
                a(href='/signup') Sign up
              li
                a(href='/login') Log in
    
    block content
      
    // scripts
    script(src='/javascripts/jquery/jquery-2.1.4.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    
    block scripts
