extends layout

block content
  div.container-fluid
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
        h1 Log in
        form(role='form', action="/login",method="post")
          if query.error
            .form-group
              div.alert.alert-warning= query.error
          .form-group
            label(for='email') Email
            input.form-control(id='email' type='text', name="email", placeholder='john.doe@example.com', autofocus, value=query.email)
          .form-group
            label(for='password') Password
            input.form-control(id='password' type='password', name="password", placeholder='Password', value=query.password)
          .form-group
            button.btn.btn-primary.pull-right(type='submit') Log in
