extends layout

mixin formRow(field)
  .form-group
    label(for!=field.name)= field.title
      if field.required
        .required *
      
    input.form-control(
      id=field.name, 
      type!=field.type||'text',
      name=field.name,
      placeholder=field.placeholder,
      autofocus!=field.autofocus,
      value=query[field.name]
    )


block content
  style.
    form .form-group .required {
      display: inline-block;
      color: red;
      margin-left: 4px;
    }
  .container-fluid
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
        h1= pageTitle
        form.form-table(role='form', action='/signup',method='post')
          if error
            .form-group
              div.alert.alert-danger= error
          
          +formRow({
              name: 'firstname',
              title: 'First name',
              placeholder: 'John',
              autofocus: true,
            })
          +formRow({
              name: 'lastname',
              title: 'Last name',
              placeholder: 'Doe',
            })
          +formRow({
              name: 'email',
              title: 'Email',
              placeholder: 'john@example.com',
              type: 'email',
              required: true,
            })
          +formRow({
              name: 'password',
              title: 'Password',
              type: 'password',
              required: true,
            })
          
          .form-group
            div
            button.btn.btn-primary.pull-right(type='submit') Sign up
